<div class="h-screen bg-white border-r border-slate-200 p-5 flex flex-col">
  <!-- Logo -->
  <div class="mb-8">

    <h1 class="text-2xl font-bold text-orange-600">
      ShopSphere
    </h1>

    <p class="text-xs text-slate-400 uppercase tracking-widest mt-1">
      Seller Panel
    </p>

  </div>
  <!-- Menu -->
  <nav class="flex-1">
    <p class="text-xs font-bold text-slate-400 uppercase tracking-widest px-3 mb-3">
      Menu
    </p>
    <ul class="space-y-1">
      <!-- Dashboard -->
      <li>
        <RouterLink 
          routerLink="/sellers"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          [routerLinkActiveOptions]="{exact:true}"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          <span>
            Dashboard
          </span>
        </RouterLink>
      </li>

      <!-- Products -->
      <li>
        <RouterLink
          routerLink="/sellers/products"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          Products
        </RouterLink>
      </li>
      <!-- Categories -->
      <li>
        <RouterLink
          routerLink="/sellers/categories"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          Categories
        </RouterLink>
      </li>
      <!-- Orders -->
      <li>
        <RouterLink
          routerLink="/sellers/orders"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          Orders
        </RouterLink>
      </li>
      <!-- FeedBack -->
      <li>
        <RouterLink
          routerLink="/sellers/feedback"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          FeedBack
        </RouterLink>
      </li>
      <!-- Users -->
      <li>
        <RouterLink
          routerLink="/sellers/setting"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          Setting
        </RouterLink>
      </li>
      <!-- Payments -->
      <li>
        <RouterLink
          routerLink="/sellers/payments"
          routerLinkActive="bg-orange-50 text-orange-600 font-semibold"
          class="flex items-center justify-between px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
          Payments
        </RouterLink>
      </li>
    </ul>
  </nav>
  <!-- Bottom -->
  <div class="border-t border-slate-200 pt-4">
    <RouterLink
      routerLink="/"
      class="flex items-center px-3 py-3 rounded-xl text-slate-600 hover:bg-slate-100 transition">
      Back To Store
    </RouterLink>
    <button
      class="w-full mt-2 text-left px-3 py-3 rounded-xl text-red-500 hover:bg-red-50 transition">
      Logout
    </button>
  </div>
</div>